.table
{
	background-image: url("../images/game/table.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-position: 50% 80%;
	float: left;
	width: 98%;
	margin: 3.9% 1% 0% 1%;
	height: 590px; /* remove later */
	border-radius: 20px;
	box-shadow: 20px;
	position: fixed;
}
#messages 
{
	width:99%;
	height:80vh;
	margin-bottom:2px;
	float: left;
	border-radius: 0.5vw;
	border: 2px solid black;
	margin-left: 1px;
	margin-right: 1px;
	background-color: black;
}

#myMessage 
{
	width:83%;
	height: 30%;
	border-radius: 1vw;
	margin-right: 5px;
	margin-left: 15px;
}

#myMessage input
{
	padding-bottom: 1%;
	border-radius: 1vw;
}
#send
{   margin-top: 55%;
	margin-bottom: 1%;
	border-radius: 10px;
	background-color: green;
	font-family: "Calibri";
	font-weight: bold;
	height: 31%;
	width: 10%;
}

.messageLine
{
	float: left;
	width: 100%;
}

.sender
{
	color: #AA0000;
}
.chat
{
	border-radius: 6px;
	background-color: rgba(51, 204, 51,0.9);
	display: table-cell;
	width: 40%;	
	box-sizing: border-box;
	box-shadow:3px 3px #999;
	margin-bottom: 1px;
}
.rooms
{   
	border-radius: 6px;
	background-color: rgba(51, 204, 500,0.9);
	display: table-cell;
	width: 40%;	
	box-sizing: border-box;
	box-shadow:3px 3px #999;
}
.chatAndRoom
{
	display: table;
	position: fixed;
	width: 100%;	
	margin-bottom: 2px;
	margin-top: 20px;
	border-collapse:separate;
	border-spacing:2vw;
}
.rooms label 
{
	font-size: 50px;
	font-family: "Calibri";
	font-weight: bold;
	margin-left:38%;
}
.chat label 
{
	font-size: 50px;
	font-family: "Calibri";
	font-weight: bold;
	margin-left: 40%;
}
.border
{ 
    width:99%;
	height:80vh;
	margin-bottom:2px;
	margin-left: 1px;
	float: left;
	border-radius: 0.5vw;
	border: 2px solid black;
}
 button
{
	margin-bottom: 1%;
	border-radius: 10px;
	background-color: green;
	margin-left: 83%;
	font-family: "Calibri";
	font-weight: bold;
}

discussion
{
	width:99%;
	height:30vh;
	margin-bottom:2px;
	float: left;
	border-radius: 0.5vw;
	border: 2px solid black;
	margin-left: 1px;
	margin-right: 1px;
	background-color: white;
	z-index: 1000;
}

