.table
{
	background-image: url("../images/game/table.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-position: 50% 80%;
	float: left;
	width: 98%;
	margin: 3.9% 1% 0% 1%;
	height: 590px; /* remove later */
	border-radius: 20px;
	box-shadow: 20px;
	position: fixed;
}
