.table
{
	background-image: url("../images/game/table.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-position: 50% 80%;
	float: left;
	width: 90%;
	margin: 4% 5% 3% 5%;
	height: 550px; /* remove later */
	border-radius: 20px;
	box-shadow: 20px;
	position: fixed;
}
