html,
body
{
	background-image: url("../images/background/bg.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-position: 50% 80%;
}

nav
{
	position: fixed;
	top: 0px;
	left: 0px;
	float: left;
	width: 100%;
	/*background-color: rgba(226,206,173,0.69);*/
	background: linear-gradient(rgba(246,206,173,0.7), rgba(226,206,173,0.4));
	/*linear effect*/
}

nav .middleNav
{
	float: left;
	width: 70%;
	margin: 0px 15%;
}

nav .middleNav a
{
	text-decoration: none;
	display: block;
	float: left;
	color: #fff;
	font-size: 2vw;
	padding: 2% 0% 2% 0px;
	margin: 0px 1.5% 0.2% 1.5%;
	font-family: "Calibri";
	text-shadow: 1px 1px 1px #000;
	font-weight: bold; 
	transition: 0.2s;
}

nav .middleNav a.activePage
{
	border-bottom: 2px solid #12ab12;
}

nav .middleNav a:hover
{
	color: #12ab12;
}

button.sign_UpIn
{
	float: right;
}